.carousel {
  min-height: 70vh;
  .image-wrapper {
    height: 40vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info-wrapper {
    transform: translateY(-100px);
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    img {
      width: 200px;
    }
  }
}
