.carousel {
  margin: 1rem 0rem 2rem;
  .image-wrapper {
    display: block;
    margin-bottom: 1rem;
  }
  .info-wrapper {
    display: flex;
    img {
      display: block;
      width: 100px;
      margin-right: 1rem;
    }
  }
}

@media (min-width: 800px) {
  .carousel {
    .info-wrapper {
      img {
        width: 200px;
      }
    }
  }
}
