#play-list {
  min-height: 70vh;
  .play-list-item {
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    h2 {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
    img {
      width: 150px;
      margin-right: 1rem;
    }
    p {
      color: white;
      margin-bottom: 1rem;
    }
    .close {
      font-size: 1rem;
      position: absolute;
      top: 0;
      right: 10px;
      color: red;
      cursor: pointer;
    }
  }
}

@media (min-width: 800px) {
  #play-list {
    .play-list-item {
      img {
        width: 200px;
      }
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
