#movie {
  padding: 2rem 0rem 8rem;
  img {
    width: 100%;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    button {
      background-color: red;
      outline: none;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      &:hover {
        background-color: white;
        color: red;
      }
    }
  }
}

@media (max-width: 960px) {
  #movie .content-wrapper {
    display: block;
    img {
      width: 300px;
    }
  }
}
