#movie {
  padding: 2rem 0rem 8rem;
  img {
    width: 100%;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (max-width: 960px) {
  #movie .content-wrapper {
    display: block;
    img {
      width: 300px;
    }
  }
}
