#joinSection {
  background-color: black;
  padding: 2rem 1rem;
  .overlay {
    .title {
      text-align: center;
      margin-bottom: 1rem;
    }
    .description {
      font-size: 16px;
      text-align: center;
      margin-bottom: 2rem;
    }
    .button-wrapper {
      text-align: center;
      margin-bottom: 2rem;
      button {
        background-color: red;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: 800px) {
  #joinSection {
    .overlay {
      width: 800px;
      margin: 0 auto;
      .title {
        font-size: 2rem;
      }
      .description {
        font-size: 1.1rem;
      }
    }
    .button-wrapper {
      button {
        width: 200px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
