#movies {
  margin: 1rem 0rem;
  form {
    margin-bottom: 1rem;
    input {
      width: 100%;
      text-indent: 20px;
      font-size: 1rem;
      padding: 0.8rem 0rem;
    }

    button {
      display: none;
    }
  }
}
