#load-button-wrapper {
  background-color: red;
  margin: 2rem 0rem;
  button {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    color: whhite;
    background-color: transparent;
  }
}
