#search {
  padding: 2rem 0rem;
  min-height: 60vh;
  form {
    margin-bottom: 1rem;
    input {
      width: 100%;
      padding: 0.8rem 0rem;
      text-indent: 20px;
    }
    button {
      display: none;
    }
  }
  h1 {
    span {
      color: red;
    }
  }
  button {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    cursor: pointer;
  }
}
