.search {
  padding: 2rem 0rem;
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    span {
      color: red;
    }
  }
  button {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    cursor: pointer;
  }
}
