#header {
  padding: 2rem 0rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 1000;
  .container {
    display: flex;
    align-items: center;
    .header-left {
      display: flex;
      align-items: center;
      h1 {
        color: red;
      }
    }
    .header-right {
      button {
        background-color: transparent;
        display: inline-block;
        margin-left: 1rem;
      }
      a {
        color: white;
        display: inline-block;
        margin-left: 1rem;
      }
    }
    .menu {
      font-size: 1.4rem;
      margin: 0rem 1rem;
      cursor: pointer;
    }
    form {
      background-color: red;
      flex: 1;
      display: flex;
      input {
        flex: 1;
        padding: 0.5rem 0rem;
        text-indent: 20px;
        font-size: 1rem;
        border: none;
      }
    }
  }
}

@media (max-width: 800px) {
  #header {
    padding: 1rem 0rem;
    .container {
      justify-content: space-between;
      .header-left {
        .menu {
          order: -1;
          margin-left: 0rem;
          font-size: 1rem;
        }
        h1 {
          margin-right: 0.5rem;
          font-size: 1.2rem;
        }
      }
      form {
        display: none;
      }
    }
    .header-right {
      a {
        font-size: 0.8rem;
      }
    }
  }
}
